/*get spotify mix font*/ 
@import url(https://db.onlinewebfonts.com/c/424dca828dee407629efe273d0a28630?family=Spotify+Mix);

@font-face {
    font-family: "Spotify Mix";
    src: url("https://db.onlinewebfonts.com/t/424dca828dee407629efe273d0a28630.eot");
    src: url("https://db.onlinewebfonts.com/t/424dca828dee407629efe273d0a28630.eot?#iefix")format("embedded-opentype"),
    url("https://db.onlinewebfonts.com/t/424dca828dee407629efe273d0a28630.woff2")format("woff2"),
    url("https://db.onlinewebfonts.com/t/424dca828dee407629efe273d0a28630.woff")format("woff"),
    url("https://db.onlinewebfonts.com/t/424dca828dee407629efe273d0a28630.ttf")format("truetype"),
    url("https://db.onlinewebfonts.com/t/424dca828dee407629efe273d0a28630.svg#Spotify Mix")format("svg");
}
/*makes sure the background displays properly*/ 
body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    background-color: #121212;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}
/*background behind login box with gradient*/ 
.background {
    background: linear-gradient(#2a2a2a 0%, #020202 100%);
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
    display: flex;
    flex: 1;
    min-height: unset;
    justify-content: center;
    position: relative;
    z-index: 0;
    padding: 20px;
    box-sizing: border-box;
    height: 100vh;
    width: 100%;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}
/*footer at the bottom of the page*/ 
.footer {
    position: static;
    bottom: 0;
    left: 0;
    width: 98%;
    background-color: #121212;
    color: white;
    padding: 20px;
    text-align: center;
    z-index: 100;
    height: 40px;
    width: 100%;
    margin: 0;
    a, p {
        color:#a8a8a8;
        font-size: 11px;
        font-family: Spotify Mix;
        align-items: center;
        text-decoration: bold;
        font-size: 0.74rem;
    }
    a {
        text-decoration: underline;
    }
}
/*login box with all the important stuff in it*/ 
.login-box {
    background-color: #121212;
    padding: 40px;
    border-radius: 8px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
    width: 100%; 
    max-width: 734px;
    height:fit-content;
    position: relative;
    box-sizing: border-box;
    text-align: center;
    color: white;
    font-family: Spotify Mix;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    z-index: 1;
    img {
    width: auto;
    height: 36px;
    margin-bottom: 5px;
    }
}

.page-title {
    text-align: center;
    margin-top: 0px;
    margin-bottom: 32px;
    font-size: xx-large;
    font-weight: bold;
}
/*the first 3 social login buttons*/ 
.social-login button {
    background-color: transparent;
    color: white;
    border: 1px solid rgb(152, 152, 152);
    border-radius: 9999px;
    margin: auto;
    box-sizing: border-box;
    margin-block-start: 5px;
    margin-block-end: 5px;
    position: relative;
    width: 100%;
    max-width: 340px;
    font-family: Spotify Mix;
    font-size: 16px;
    font-weight: 700;
    height:100%;
    max-height: 46px;
    display: inline-flex;
    align-items: center; 
    gap: 10px;
    align-content: center;
    vertical-align: middle;
    padding: 24px 10px;
    cursor: pointer;
    justify-content: center;    
}

.google-login {
    background: url('https://accounts.scdn.co/sso/images/new-google-icon.72fd940a229bc94cf9484a3320b3dccb.svg') no-repeat center;
    background-size: contain;
    background-size: 24px ;
    background-position-x: 20px; 
}

.facebook-login {
    background: url('https://accounts.scdn.co/sso/images/new-facebook-icon.eae8e1b6256f7ccf01cf81913254e70b.svg') no-repeat center;
    background-size: contain;
    background-size: 24px ;
    background-position-x: 20px; 
}

.apple-login {
    background: url('https://accounts.scdn.co/sso/images/new-apple-icon.e356139ea90852da2e60f1ff738f3cbb.svg') no-repeat center;
    background-size: contain;
    background-size: 24px ;
    background-position-x: 20px; 
}
/*username or email input box*/ 
.input-group input {
    width: 100%;
    padding: 12px 16px;
    border: 1px solid rgb(152, 152, 152);
    background-color: transparent;
    color: rgb(152, 152, 152);
    font-family: Spotify Mix;
    font-size: 16px;
    box-sizing: border-box;
    margin-bottom: 16px;
    margin-block-start: 5px;
    margin-block-end: 5px;
    margin-top: 0;
    margin: auto;
    max-width: 340px;
}
/*the continue button*/ 
form button {
    width: 100%;
    padding: 12px 16px;
    background-color: #1db954;
    color: black;
    border: none;
    border-radius: 9999px;
    font-family: Spotify Mix;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    box-sizing: border-box;
    margin-bottom: 16px;
    margin-block-start: 5px;
    margin-block-end: 5px;
    max-width: 340px;
    margin-top: 20px;
}
/*label for the text input*/ 
form label {
    margin-bottom: -18px;
    display: block;
    padding-bottom: 0%;
    font-family: Spotify Mix;
    font-size: 14px;
    color: white;
    text-align: left; 
    max-width: 340px;
    margin-left: auto;
    margin-right: auto;
    font-weight: bolder;
}
/*the signup question and link under the confirm button*/ 
.signup-prompt {
    text-align: center;
    margin-top: 30px;
    font-family: Spotify Mix;
    font-size: 16px;
    color: #a8a8a8;
    a {
        color: white;
        text-decoration: underline;
        font-weight: bold;
    }
}
/*the divider between the email and username text box and the social login buttons*/ 
.divider {
    display: flex;
    align-items: center;
    text-align: center;
    margin: 32px 0;
    flex: 1;
    border-bottom: 1px solid #444;
    width: 100%;
    border-color: #2a2929; 
}
/*break for the signup prompt*/ 
.mobile-only-break {
  display: none;
}
/*mobile formatting*/ 
@media screen and (max-width: 768px) {
    .login-box {
        padding: 20px;
        width: 100%;
        max-width: 100%;
    }
    .login-box img {
        margin-top: 24px;
        height: 24px;
        margin-bottom: 0px;
    }
    .social-login button {
        max-width: 100%;
        font-size: 14px;
    }
    form button {
        max-width: 100%;
    }
    form label {
        font-size: 14px;
        max-width: 100%;
    }
    .input-group input {
        max-width: 100%;
    }
    .background {
        padding: 0px;
        background: #121212;
    }
    .mobile-only-break {
    display: block;
    }
}